<!-- NavBar -->
<nav class="bg-gray-100 w-full">
	<div class="flex flex-col md:flex-row justify-between items-center w-full px-4 md:px-12 pt-4 max-w-[1200px] mx-auto">

		<div class="flex flex-col md:flex-row items-center">
			<a class="text-base md:text-xl font-bold text-black tracking-tighter font-space uppercase" href="/">THREVO <span class="text-[#32CD32]">SHOP</span></a>
		</div>
		<div class="flex flex-col md:flex-row items-center">
			<a class="text-base md:text-xl font-bold text-black tracking-tighter font-space uppercase" href="/blog">THREVO <span class="text-[#32CD32]">BLOG</span></a>
		</div>
		{# <div class="flex flex-col md:flex-row items-center">
			<a class="text-base md:text-xl font-bold text-black tracking-tighter font-space uppercase" href="/reviews">THREVO <span class="text-[#32CD32]">REVIEWS</span></a>
		</div> #}

		<div class="flex items-center">
			<div class="flex items-center gap-4 text-black">
				<a href="https://x.com/threvoshop" target="_blank">
					<img class="w-4 md:w-6"
					src="/static/assets/x.png" alt="X"></a>
				{# <a href="https://instagram.com/threvoshop" target="_blank">
					<img class="w-4 md:w-6"
					src="/static/assets/instagram.png" alt="Instagram"></a> #}
			</div>
		</div>
	</div>
	<div class="flex flex-col md:flex-row items-center w-full px-4 md:px-12 py-2 max-w-[1200px] mx-auto font-space">
		<p>Sorte é encontrar exatamente o que você queria quando menos esperava!</p>
	</div>
</nav>